<igx-card>
  <igx-card-header class="compact">
    <igx-avatar [src]="mediaService.getUrl(class.icon, 'portraits', '64')" roundShape="true"></igx-avatar>
    <div class="igx-card-header__tgroup">
      <h3 class="igx-card-header__title--small">{{ class.name.toUpperCase() }}</h3>
    </div>
    <button igxButton (click)="heroSkills.toggle($event)">
      <igx-icon>{{ heroSkills.collapsed ? "expand_more" : "expand_less"}}</igx-icon>
    </button>
  </igx-card-header>
  <igx-expansion-panel #heroSkills>
    <igx-expansion-panel-body>
      <div class="skills">
        <div class="skill">
          <h4>Active</h4>
          <app-badge *ngFor="let skill of class.skills.active"
            [image]="mediaService.getUrl(skill.icon, 'skills', '42')" [passive]="false">
            <div class="skill__description" [innerHTML]="skill.descriptionHtml"></div>
          </app-badge>
        </div>
        <div class="skill">
          <h4>Passive</h4>
          <app-badge *ngFor="let skill of class.skills.passive"
            [image]="mediaService.getUrl(skill.icon, 'skills', '42')" [passive]="true">
            <div class="skill__description" [innerHTML]="skill.descriptionHtml"></div>
          </app-badge>
        </div>
      </div>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <div class="skills">
  </div>
</igx-card>