igx-expansion-panel {
    width: 100%;
}

.skills {
    display: flex;
    padding: 8px;
}

.skill {
    display: flex;
    flex-flow: column;
    padding: 0px 4px;

    h4 {
        padding: 4px;
    }
}