<igx-card>
  <igx-card-header class="hero__header">
    <igx-avatar class="hero__image" [src]="mediaService.getUrl(class.icon, types.portrait, sizes.large)" size="medium" roundShape="true"></igx-avatar>
    <div>
      <h3 class="hero__name">{{ class.name.toUpperCase() }}</h3>
    </div>
    <button igxButton (click)="heroSkills.toggle($event)">
      <igx-icon>{{ heroSkills.collapsed ? "expand_more" : "expand_less"}}</igx-icon>
    </button>
  </igx-card-header>
  <igx-expansion-panel #heroSkills>
    <igx-expansion-panel-body>
      <div class="skills">
        <div class="skill">
          <h4 class="skill__header--active">Active</h4>
          <app-badge *ngFor="let skill of class.skills.active" [name]="skill.name"
            [image]="mediaService.getUrl(skill.icon, types.skill, sizes.medium)" [passive]="false">
            <div class="skill__description" [innerHTML]="skill.descriptionHtml"></div>
          </app-badge>
        </div>
        <div class="skill">
          <h4 class="skill__header--passive">Passive</h4>
          <app-badge *ngFor="let skill of class.skills.passive" [name]="skill.name"
            [image]="mediaService.getUrl(skill.icon, types.skill, sizes.medium)" [passive]="true">
            <div class="skill__description" [innerHTML]="skill.descriptionHtml"></div>
          </app-badge>
        </div>
      </div>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <div class="skills">
  </div>
</igx-card>